@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0;
    background-color: black;
    text-decoration: none;
    list-style: none;
}


header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

    nav{
        
        width: 60%;
    }
    
    ul{
        display: flex;
        justify-content: space-between;
        
    }

    li{
        font-family:'Bebas Neue', sans-serif;
        transition: .5s;
        font-size: 20px;
        color:#fff    
    }

    li:hover{
        color: red;
    }

    #logo{
        width: 180px;
        height: auto;
    }

    p{
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }

    .banner{
        width: 100px;
        background: transparent;
        margin-left: 35px;
    }

    #comentarios-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: center;
        align-items: center;
        
    }

    .container{
        width: 90%;
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        

    }

    .comentarios{
        width: 170px;
        height: 300px;
        background: transparent;
        border-radius: 5px;
        transition: .5s;
        cursor: pointer;
        border: 2px solid #fff; 
    }
    .comentarios:hover{
        box-shadow: 0 0 30px  #8b0000, inset 0 0 30px  #8b0000;
        text-shadow:0 0 30px  #8b0000 ;
    }

    p{
        margin-left: 2px;
        font-family:'Bebas Neue', sans-serif;
        background: transparent;
        color: #878787;
    }

    .footer-navigation{
        display: none;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;


    }
    

   span{
    color: #fff;
   }

   footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
   }



   button{
    color:#fff
   }

   .pedro{
    color: #fff;
   }

  

   #comentarios-final{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   label{
    color: #fff;
   }
 

   .pedro{
    width: 400px;
    border-radius:  5px;
    border: solid 2px #ffffff36;
    color: #fff;
    
   }

   #email{
    margin-bottom: 20px;
    color: #fff;
    border: solid 2px #ffffff36;
   }

   .acao{
    margin-top: 40px;
    
   }



    @media(max-width: 768px){

        .pedro{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        nav{
            display: none;
        }
        
        .footer-navigation{
            display: block;
        }

        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
        }

        .comentarios{
            width: 300px;
            height: 400px;
            
        }

        .banner{
            margin-left: 90px;
        }


       
        


    }